.active {
    background-color: #fbfbfb;
    font-weight: bolder;
    box-shadow: inset 0 -3px 0 0 #333;
}
.clear{
	clear: both;
}
body{
	background-color: #fafafa;
    background-image: url(../img/bgImg.png);
	background-repeat: repeat-x;
	height: 2000px;
}
.head{
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 1px 4px 0 #ececec;
}
.container{
	width: 1200px;
	margin: 0 auto;
	/*解决高度塌陷*/
	overflow: hidden;
}
.head .logo-container{
	float: left;
	margin-right: 92px;
}
.head .logo-container a{
	display: block;
	width: 80px;
	height: 90px;	
}
.head .logo-container a img{
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.head .nav-container{
	float: left;
	line-height: 90px;
	text-align: center;
}
.head .nav-container ul li{
	float: left;	
}
.head .nav-container ul li a{
	padding: 0 26px;
	display: block;
	color: #333;
}
.head .nav-container ul li a:hover{
	background-color: #fbfbfb;
}
/*登陆与注册*/
.head .login-container{
	float: right;
	width: 200px;
	height: 90px;
}
.head .login-container .editor{
	float: left;
	position: relative;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 1px solid rgba(120,188,133,0.5);
	top: 50%;
	transform: translateY(-50%);
}
.head .login-container .editor div{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: rgba(101,181,117,0.9);
	margin-left: 3px;
	margin-top: 3px;
}
.head .login-container .editor div img{
	width: 19px;
	height: 20px;
	margin-top: 9px;
	margin-left: 9.5px;
}
.head .login-container .login{
	float: right;
	width: 126px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-weight: 200;
    font-size: 14px;
	border-radius: 23px;
	border: 1px solid rgba(120,188,133,0.5);
	margin-top: 22px;
}
.head .login-container .login a{
	display: block;
	width: 127px;
	height: 47px;
	border-radius: 23px;
	color: #57ad68;
}
.head .login-container .login a:hover{
	color: white;
	background-color: #57ad68;
}


/*页面底部*/
.foot {
	clear: both;
    height: 118px;
    min-width: 1200px;
    background-color: #1a1818;
    color: #666;
    font-size: 12px;
}
.foot .container .foot_logo{
	display: block;
	float: left;
	width: 100px;
	margin-top: 33px;
}
.foot .link{
	float: right;
	height: 50px;
	width: 1080px;
	margin-top: 34px;
}
.foot .link .desc{
	float: left;
}
.foot .link .desc span a{
	color: #666;
	margin-right: 10px;
}
.foot .link .icon{
	float: right;
	position: relative;
	width: 332px;
	height: 42px;
}
.foot .link .icon img{
	display: block;
	float: left;
	width: 44px;
	height: 44px;
	margin-right: 18px;
}
.foot .link .icon .foot_safe img{
	width: 86px;
	height: 44px;
	float: right;
}
/*页面主体*/
.content{
	width: 960px;
	margin: 0 auto;
}
/*页面banner*/
.banner{
	width: 960px;
	position: relative;
	margin-top: 50px;
	height: 375px;
}
.banner .prev{
	width: 30px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: -60px;
	background: url("../img/left-btn.png") no-repeat;
	background-size: 30px 50px;
}
.banner .next{
	width: 30px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	margin-right: -60px;
	background: url("../img/right-btn.png") no-repeat;
	background-size: 30px 50px;
}
.banner .banner-slide{
	width: 960px;
	height: 375px;
	position: relative;
}
.banner .banner-slide .slide1{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 493px;
	height: 298px;
	background: url(../img/read/banner3.JPG);
	background-size: contain;
	z-index: 1;
}
.banner .banner-slide .slide2{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 640px;
	height: 375px;
	background: url(../img/read/banner2.JPG);
	background-size: contain;
	z-index: 2;
}
.banner .banner-slide .slide3{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 493px;
	height: 298px;
	background: url(../img/read/banner3.JPG);
	background-size: contain;
	z-index: 1;
}
.banner .banner-line{
	float: right;
	margin-top: 25px;
	width: 216px;
	height: 1px;
	background-color: #e8e8e8;
}
.content .classify{
	margin-top: 75px;
	height: 310px;
	overflow: hidden;
}
.classify .title{
	padding-left: 28px;
	height: 60px;
	background: url(../img/square.png) no-repeat;
	background-position: 0 2px;
}
.classify .list a{
	display: block;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px; 
	width: 191px;
	height: 84px;
	overflow: hidden;
}
.classify .list a img{
	width: 190px;
	height: 85px;
}
.content .hot-article{
	margin-top: 75px;
	height: 730px;
}
.hot-article .title{
	padding-left: 28px;
	height: 60px;
	background: url(../img/square.png) no-repeat;
	background-position: 0 2px;
}
.hot-article .hot-article-list{
	width: 960px;
	height: 675px;
	box-sizing: border-box;
}
.hot-article .hot-article-list .hot-article-list-item{
	width: 960px;
	height: 216px;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	padding: 20px 20px 15px 20px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.hot-article-list-item .articleTitle{
	font-size: 24px;
    height: 30px;
    width: 580px;
    line-height: 32px;
    padding-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	font-weight: 200;
}
.hot-article-list-item .articleAuthor{
	font-weight: 200;
	font-size: 12px;
    color: #333;
}
.hot-article-list-item .articleInfo::before{
	content: '';
    margin-top: -10px;
    position: absolute;
    width: 30px;
    height: 1px;
    border-top: 1px solid #333;
}
.hot-article-list-item .articleInfo{
	overflow: hidden;
    height: 85px;
    font-size: 13px;
    font-weight: 100;
    color: #333;
    line-height: 20px;
    padding-top: 25px;
}
.hot-article-list-item .articleInfo .viewAll{
	padding-left: 10px;
	position: relative;
	color: #78bc85;
	font-weight: 200;
}
.hot-article-list-item .articleInfo .viewAll img{
	vertical-align: baseline;
    width: 5px;
	padding-left: 3px;
	opacity: 1;
}
.hot-article-list-item .articleOther{
	font-weight: lighter;
    color: #999;
	bottom: 10px;
	font-size: 12px;
}
/**********************************/
.content .readpart{
	margin-top: 60px;
	height: 950px;
	margin-bottom: 100px;
}
.content .readpart a img{
	display: block;
	width: 960px;
	height: 216px;
	margin-bottom: 100px;
}